<%= text_area_tag 'comment_area', nil, :size => "40x7" %>
<%= hidden_field_tag 'thought_id', @thought.id %>
<span id="character_counter"></span><br />
<%= submit_tag "Comment", :name => nil, :id => "submit" %>
